*{
    margin: 0;
    font-family:Calibri, Corbel, Perpetua, Cambria, 'Times New Roman', Times, serif;
}
.container{
    background: linear-gradient(45deg,#65bc88,#028bed);
    height: 115%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.heading {
    color: white;
    padding-top: 10vh;
    padding-bottom: 2vh;
    width: 86%;
    max-width: 900px;
  }
  .description{
  color: white;
  width: 86%;
  max-width: 900px;
  margin-bottom: 48px;
  font-size: 19px;
  }
.cards-container{
    color: black;
    display: flex;
    width: 90%;
    max-width: 900px;
    flex-wrap: wrap;

}
.card{
    min-height: 370px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 230px;
    font-size: 16px;
}
.card-background-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    align-items: flex-end;
    height: 160px;
    width:100%;
    background-size: cover;border-radius: 15px;
}
.nike-bg-1{
    background-image: url("nike (1).png");
    background-repeat: no-repeat;
}
  .nike-bg-2 {
    background-image: url("nike (2).png");
    background-repeat: no-repeat;
  }
  .nike-bg-3 {
    background-image: url("nike (3).png");
    background-repeat: no-repeat;
}

.nike-bg-4{
    background-image: url("nike (4).png");
    background-repeat: no-repeat;
  }

  .nike-bg-5 {
    background-image: url("nike (5).png");
    background-repeat: no-repeat;
  }
  .nike-bg-6{
    background-image: url("nike (6).png");
    background-repeat: no-repeat;
  }
  .nike-bg-7{
    background-image: url("nike (7).png");
    background-repeat: no-repeat;
  }
  .nike-bg-8{
    background-image: url("nike (8).png");
    background-repeat: no-repeat;
  }
  .nike-bg-9{
    background-image: url("nike (9).png");
    background-repeat: no-repeat;
  }
  .nike-bg-10{
    background-image: url("nike (10).png");
    background-repeat: no-repeat;
  }
  .nike-bg-11{
    background-image: url("nike (11).png");
    background-repeat: no-repeat;
  }
  .nike-bg-12{
    background-image: url("nike (12).png");
    background-repeat: no-repeat;
  }
.badge{
    background-color: rgb(255, 29, 104);
    color: white;padding: 3px;
    border-radius: 10px;
    margin: 7px;
    font-weight: 300;
}
.card-footer-container{
    display: flex;
    justify-content: space-between;
    align-items:end;
}
.price {
    font-weight: 700;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #659ebc;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    cursor: pointer;
  }
  .icon-img{
    width:2.05vw;
    height: 3vh;
}
@media only screen and (max-width:600px){
    .icon-img{
      width: 7.7vw;
      height: 4vh;
  }
  
  }
  @media only screen and (min-width:600px )and ( max-width:990px){
    .icon-img{
        width:3.4vw;
        height:2.6vw;
    }
}
